html { overflow-x: hidden; }
.clearfix:after
{
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
}

body {
    font-family: 'Lato', sans-serif;
    color: #333333;
    background-color: #ffffff;
}

.services{
    position: relative;
    display: block;
}

.services__header{
    display: block;
    background: #f6f6f6;
    padding: 50px 0 80px 0;
}

h1,h2,h3,h4 {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
}

h2{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0px;
}

h3,h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #000000;
}
h4 {
    font-weight: 500;
    display: block;
    width: 420px;
    margin: 0 auto;
}

span {
    color: #777777;
    text-align: center;
    display: inline-block;
}

.container {
    max-width: 100%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.cargoicon{
    text-align: center;
    margin-bottom: 20px;
}

.cargoicon__img {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 22px;
}

.cargoicon:before, .cargoicon:after {
    position: relative;
    display: inline-block;
    width: 70px;
    border-bottom: 2px dotted #000000;
    padding-left: 10px;
    padding-right: 10px;
    content: "";
}


.services__bottom {
    background: #ffffff;
    position: relative;
}

.square__container{
   text-align: center;
}

.square{
    position: relative;
    margin: 15px auto;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #ffb118;
}

.black{
    background: #000000;
}

.readmore__header{
    margin-bottom: -20px;
    font-size: 12px;
    padding-bottom: 10px;
}

.readmore__btn {
    text-align: center;
    padding-bottom: 20px;
}

.readmore::after{
    display: inline-block;
    width: 70px;
    border-bottom: 1px dotted #000000;
    content: "";
}

.pages:hover .readmore {
    border-bottom: 1px dotted #fff;
}

.services_bottom {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -50px;
}
.pages {
    /* width: 100%; */
    background: #fff;
    width: 320px;
    margin-left: 30px;
    border-bottom: 3px solid #777777;
    transition: .5s;
    border-radius: 15px 0 0 0;
    box-shadow: 4px -5px 12px 1px rgba(0,0,0,0.25)
}
.pages:last-child {
    margin-right: 0;
}

.pages:hover{
    background: #000000;
    border-bottom: 3px solid #ffb118;
}

.pages:hover h3{
    color: #ffb118;
}

.pages:hover .readmore{
    color: #ffffff;
}

.pages:hover .black{
    background: #ffffff;
}

.pages:hover .dotted__readmore{
    border-bottom: 1px dotted #ffffff;
}

/* .services__bottom-wrap{
    position: absolute;
    top:-50px;
    background: #ffffff;
    left: 0;
    right: 0;
} */

.features_article {
    margin-bottom: 60px;
}
